# SPDX-FileCopyrightText: 2025 The Open Source Project Template Authors
#
# SPDX-License-Identifier: CC0-1.0

# IDE
.vscode
.idea

# Quality tool reports
megalinter-reports
mega-linter-reports

# Cache directories
.mypy_cache
.ruff_cache
__pycache__

# OS files
.DS_Store
Thumbs.db
