# SPDX-FileCopyrightText: 2023 Digg - Agency for Digital Government
#
# SPDX-License-Identifier: CC0-1.0

---
name: LintPublicCodeMeta
on: [workflow_call] # yamllint disable-line rule:truthy

jobs:
  publiccode_validation:
    runs-on: ubuntu-latest
    name: publiccode validation
    steps:
      - uses: actions/checkout@v3
      - uses: italia/publiccode-parser-action@v1
        with:
          publiccode: "publiccode.yml"
